<#include "framepublic.html">
  <!-- End Main Header -->
  <!-- Start Main Content Holder -->
  <section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
    	<div class="heading-bar">
        	<h2>About Us</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
        	<!-- Start Ad Slider Section -->
			<div class="blog-sec-slider">
                <div class="slider5">
                  <div class="slide"><a href="#"><img src="template/images/aboutus/slid1.jpg" alt=""/></a></div>
                  <div class="slide"><a href="#"><img src="template/images/aboutus/slid2.jpg" alt=""/></a></div>
                  <div class="slide"><a href="#"><img src="template/images/aboutus/slid3.jpg" alt=""/></a></div>
                </div>
            </div>
            <!-- End Ad Slider Section -->
            <!-- Start Simple Contant Holder Section -->
            <section class="content-holder">
                <h3>La Biblioteca</h3>
            <p><img src="template/images/aboutus/aboutus.jpg" align="left" class="content-img"/> 
                Una biblioteca &egrave un servizio finalizzato a soddisfare bisogni informativi quali studio, aggiornamento professionale o di svago di una utenza finale individuata secondo parametri predefiniti, realizzato sulla base di una raccolta organizzata di supporti delle informazioni, fisici (libri, riviste, CD, DVD) o digitali (accessi a basi di dati, riviste elettroniche).

Si considerano biblioteche tanto le raccolte costituite da privati per uso personale quanto quelle costituite da enti privati e pubblici.

La biblioteconomia considera parte del &quotsistema biblioteca&quot anche i servizi di informazione al pubblico (tipicamente la ricerca bibliografica e l'istruzione all'uso delle raccolte e dei servizi) e, in quanto funzionali alla conservazione e fruizione del patrimonio documentale, anche le attivit&agrave di gestione della biblioteca purch&egrave specifiche (non considera tali, pertanto, le generiche attivit&agrave amministrative e gestionali se indistinguibili da quelle dell'ente proprietario della biblioteca).
            </p>
            </section>
            <!-- End Simple Contant Holder Section -->
        </section>
        <!-- End Main Content -->
        
        <!-- Start Main Side Bar -->
        <section class="span3">
        	<div class="side-holder">
            	<article class="banner-ad"><img src="template/images/aboutus/banner.jpg" alt="Banner Ad" /></article>
            </div>
           
        </section>
        <!-- End Main Side Bar -->
    </section>
  </section>
  <!-- End Main Content Holder -->
 <#include "footer.html">