
  <!-- Start Footer  -->
  <section class="container-fluid footer-top2">
    <section class="social-ico-bar">
      <section class="container">
        <section class="row-fluid">
          <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="#" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a>  </div>
          <ul class="footer2-link">
            <li><a href="about_us">About Us</a></li>
          </ul>
        </section>
      </section>
    </section>
   
      </section>
    </section>
  </section>

  
  
  <footer id="main-footer">
    <section class="social-ico-bar">
      
    </section>
  </footer>
    <!-- End Footer -->
</div>
<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="template/js/lib.js"></script><!-- lib Js -->
<script type="text/javascript" src="template/js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="template/js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="template/js/bs.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="template/js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="template/js/input-clear.js"></script><!-- Input Clear -->
<script type="text/javascript" src="template/js/range-slider.js"></script><!-- Range Slider -->
<script type="text/javascript" src="template/js/jquery.zoom.js"></script><!-- Zoom Effect -->
<script type="text/javascript" src="template/js/bookblock.js"></script><!-- Flip Slider -->
<script type="text/javascript" src="template/js/custom.js"></script><!-- Custom js -->
<script type="text/javascript" src="template/js/social.js"></script><!-- Social Icons -->
    
<!-- JS Files End -->
<noscript>
<style>
	#socialicons>a span { top: 0px; left: -100%; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s 	ease-in-out;}
	#socialicons>ahover div{left: 0px;}
	</style>
</noscript>
<script type="text/javascript">
  /* <![CDATA[ */
  $(document).ready(function() {
  $('.social_active').hoverdir( {} );
});
/* ]]> */
</script>
</body>
</html>
